<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles2.css" rel="stylesheet">
        <title>Dwight D. Eisenhower</title>
    </head>
    <body class="eisenhower">
      <div>
        <br><br>
        <b><h1 style= "font-size:75px"><span>Dwight D. Eisenhower</span></h1></b>
        <b><h2 style= "font-size:50px"><span>34th President of the United States</span></h2></b>
      </div>
      <br>
      <div class="paragraph">
        <b><h3><span>During Dwight Eisenhower's (January 20, 1953 to January 20, 1961) tenure,
            the conflict in Korea ceased, while the U.S. experienced tremendous economic growth.
            Several milestones in the civil rights movement took place during Eisenhower's term,
            including the Supreme Court decision Brown v. Board of Education in 1954, the
            Montgomery Bus Boycott of 1955-56, and the Civil Rights Act of 1957. While in office,
            Eisenhower signed legislation that created the interstate highway system and the
            National Aeronautics and Space Administration or NASA. In foreign policy, Eisenhower
            maintained a strong anti-Communist stance in Europe and Asia, expanding the nation's
            nuclear arsenal and supporting the government of South Vietnam.
         </b></span></h3>
      </div>
      <img id="border1" src="static/eisenhower2.jpg" alt="Dwight D. Eisenhower" width="400" height="300">
      <img id="border2" src="static/eisenhower3.jpg" alt="Dwight D. Eisenhower" width="300" height="400">
        <button onclick="window.location.href = '/';" class="button button1">Home</button>
        <button onclick="window.location.href = '/truman';" class="button button2">Previous</button>
        <button onclick="window.location.href = '/washington';" class="button button3">Next</button>
    </body>
</html>
