<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles2.css" rel="stylesheet">
        <title>Franklin Delano Roosevelt</title>
    </head>
    <body class="fdr">
      <div>
        <br><br>
        <b><h1 style= "font-size:75px"><span>Franklin Delano Roosevelt</span></h1></b>
        <b><h2 style= "font-size:50px"><span>32nd President of the United States</span></h2></b>
      </div>
      <br><br><br>
      <div class="paragraph">
        <b><h3><span>Franklin Delano Roosevelt (March 4, 1933 to April 12, 1945) was the nation's
            longest-serving president. Elected during the depths of the Great Depression, he held
            office until his death in 1945, only months before the end of World War II. During
            his tenure, the role of the federal government was greatly expanded. Depression-era
            federal programs like Social Security, enacted during Roosevelt's presidency, still
            exist, providing basic financial protections for the nation's most vulnerable. As a
            result of the war, the United States also assumed a prominent new role in global
            affairs, a position it still occupies.
         </b></span></h3>
      </div>
      <img id="border1" src="static/fdr1000.jpg" alt="roosevelt" width="400" height="300">
      <img id="border2" src="static/fdr2.jpg" alt="roosevelt" width="300" height="400">
        <button onclick="window.location.href = '/';" class="button button1">Home</button>
        <button onclick="window.location.href = '/wilson';" class="button button2">Previous</button>
        <button onclick="window.location.href = '/truman';" class="button button3">Next</button>
    </body>
</html>
