<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Top 10 Presidents</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
          <b>10 MOST INFLUENTIAL PRESIDENTS</b>
        </div>
        <pre>

        </pre>
        {% block body %}{% endblock %}
        <img src="static/allpresidents.png">
        <div>
            <pre></pre>
            <button class="button button1" onclick="window.location.href='/quiz2';"><b>Take a short quiz!</b></button>

        </div>
    </body>
</html>
