<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles2.css" rel="stylesheet">
        <title>Abraham Lincoln</title>
    </head>
    <body class="lincoln">
      <div>
        <br><br><br>
        <b><h1 style= "font-size:75px"><span>Abraham Lincoln</span></h1></b>
        <b><h2 style= "font-size:50px"><span>16th President of the United States</span></h2></b>
      </div>
      <br><br>
      <div class="paragraph">
        <b><h3><span>If not for Abraham Lincoln (March 4, 1861 to April 15, 1865),
           who presided during the American Civil War, the U.S. might look
           completely different today. Lincoln guided the Union through four
           bloody years of conflict, abolished enslavement with the Emancipation
           Proclamation, and at the war's end laid the foundation for reconciliation
           with the defeated South. Lincoln did not live to see a fully reunited
           nation. He was assassinated by John Wilkes Booth in Washington, D.C.,
           weeks before the Civil War officially concluded.
         </b></span></h3>
      </div>
      <img id="border1" src="static/abe3.jpg" alt="abe_lincoln" width="400" height="300">
      <img id="border2" src="static/abe2.jpg" alt="abe_lincoln" width="300" height="400">
        <button onclick="window.location.href = '/';" class="button button1">Home</button>
        <button onclick="window.location.href = '/polk';" class="button button2">Previous</button>
        <button onclick="window.location.href = '/teddy';" class="button button3">Next</button>
    </body>
</html>
