<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="static/styles4.css" rel="stylesheet">
    <script defer src="static/script.js"></script>
    <title>QUIZ</title>
</head>
<body>
    <div class="container">
        <div id="question-container" class="hide">
            <div id="question"><b><h1>Question</h1></b></div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn"><h2>Answer1</h2></button>
                <button class="btn"><h2>Answer2</h2></button>
                <button class="btn"><h2>Answer3</h2></button>
                <button class="btn"><h2>Answer4</h2></button>
            </div>
        </div>
            <div class="controls">
                <button id="start-btn" class="start-btn btn"><h2>Start Quiz</h2></button>
                <button id="next-btn" class="next-btn btn hide"><h2>Next</h2></button>
            </div>
    </div>
    <button onclick="window.location.href = '/';" class="button button1">Home</button>
</body>
</html>
