<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles2.css" rel="stylesheet">
        <title>Woodrow Wilson</title>
    </head>
    <body class="wilson">
      <div>
        <br><br>
        <b><h1 style= "font-size:75px"><span>Woodrow Wilson</span></h1></b>
        <b><h2 style= "font-size:50px"><span>28th President of the United States</span></h2></b>
      </div>
      <br><br>
      <div class="paragraph">
        <b><h3><span>Woodrow Wilson (March 4, 1913 to March 4, 1921) began his first term vowing
            to keep the nation out of foreign entanglements. But by his second term, Wilson did
            an about-face and led the U.S. into World War I. At the war's conclusion, Wilson began
            a vigorous campaign to create a global alliance to prevent future conflicts. The
            resulting League of Nations, a precursor to the United Nations, was largely hobbled
            by the United States' refusal to participate after rejecting the Treaty of Versailles.
         </b></span></h3>
      </div>
      <img id="border1" src="static/wilson2.jpg" alt="Woodrow Wilson" width="400" height="350">
      <img id="border2" src="static/wilson3.jpg" alt="Woodrow Wilson" width="300" height="400">
        <button onclick="window.location.href = '/';" class="button button1">Home</button>
        <button onclick="window.location.href = '/teddy';" class="button button2">Previous</button>
        <button onclick="window.location.href = '/fdr';" class="button button3">Next</button>
    </body>
</html>
